<%= form_for @pitch do |p| %>

  <div class="field">
    <%= p.label :title %><br />
    <%= p.text_field :title %>
  </div>

  <div class="field">
    <%= p.label :category %><br />
    <%= p.select :category_id, Category.all.map{|c| [c.category, c.id]} %>
  </div>

  <div class="field">
    <%= p.label :location %><br />
    <%= p.text_field :location%>
  </div>

  <div class="field">
    <%= p.label :stage %><br />
    <%= p.text_field :stage%>
  </div>

  <div class="field">
    <%= p.label :summary %><br />
    <%= p.text_area :summary %>
  </div>

  <div class="field">
    <%= p.label :description %><br />
    <%= p.text_area :description%>
  </div>

  <div class="field">
    <%= p.label :objectives %><br />
    <%= p.text_area :objectives%>
  </div>

  <div class="field">
    <%= p.label :target %><br />
    <%= p.text_field :target%>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
