<h1>Category: <%=@pitch.category.category  %></h1>
<h2><%= @pitch.title %></h2>
<h4><%= @pitch.summary %></h4>
<p><%= @pitch.description %></p>

<%= link_to 'Edit', edit_pitch_path(@pitch.id) %>
<%= link_to 'Delete', pitch_path(@pitch.id), method: :delete %>
<%= link_to 'Back', pitches_path %>
