<nav class="navbar fixed-top navbar-expand-lg mx-auto">
  <a class="navbar-brand" href="#">Minerva</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invest
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Explore', '#', class: "nav-link dropdown-item" %>
          <%= link_to 'Search', '#', class: "nav-link dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fundraise
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Add a Pitch', '#', class: "nav-link dropdown-item" %>
          <%= link_to 'Investor Search', '#', class: "nav-link dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled nopadding" href="#" tabindex="-1" aria-disabled="true">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled nopadding" href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
