<section>
  <div class="jumbotron jumbotron-entrepreneur p-4 p-md-5 text-white rounded bg-dark text-center">
    <div class="col-12 px-0">
      <h1>Getting Started</h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 wrapper">
        <div class="wrapper-item-1">
          <div class="wrapper-item-1-1">
            <div class="wrapper-shadow">
              <h1>1</h1>
            </div>
            <h2>Register</h2>
          </div>
          <p>Sign up now to connect with investors and get funded.
            We have 231,823 angel investors worldwide with more joining every day.</p>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="wrapper-item-2">
          <%= image_tag("features/undraw_sign_in.svg") %>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="wrapper-item-2">
          <%= image_tag("features/undraw_analytics.svg") %>
        </div>
      </div>
      <div class="col-md-6 wrapper">
        <div class="wrapper-item-1">
          <div class="wrapper-item-1-1">
            <div class="wrapper-shadow">
              <h1>2</h1>
            </div>
            <h2>Create a Pitch</h2>
          </div>
          <p>Add a pitch for your business using our tried-and-tested template. The on-screen instructions will guide you through the steps. We've also got some great resources to help if you get stuck</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 wrapper">
        <div class="wrapper-item-1">
          <div class="wrapper-item-1-1">
            <div class="wrapper-shadow">
              <h1>3</h1>
            </div>
            <h2>Publish your Pitch</h2>
          </div>
          <p>You can have your pitch emailed to investors and even send personalized messages to individuals.</p>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="wrapper-item-2">
          <%= image_tag("features/undraw_server_push_vtms.svg") %>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="wrapper-item-2">
          <%= image_tag("features/undraw_business_deal_cpi9.svg") %>
        </div>
      </div>
      <div class="col-md-6 wrapper">
        <div class="wrapper-item-1">
          <div class="wrapper-item-1-1">
            <div class="wrapper-shadow">
              <h1>4</h1>
            </div>
            <h2>Connect with Investors</h2>
          </div>
          <p>If an investor likes your pitch, you will receive an email asking to connect. You'll then gain access to their contact details to continue discussions, schedule calls, fix meetings and close investment!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <%= link_to 'Get Started', new_user_registration_path, class: "btn btn-outline-light minerva" %>
  </div>
</section>
