<!DOCTYPE html>
<html>
  <head>
    <title>The African Investment Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless current_page?(new_user_session_path) %>
    <%= render 'shared/navbar'  %>
    <% end %>


    <main role="main">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </main>

    <% unless current_page?(new_user_session_path) %>
    <%= render 'shared/footer'  %>
    <% end %>

  </body>
</html>
